server:
  port: 8761

eureka:
  client:
    register-with-eureka: false   # Server doesn’t register with itself
    fetch-registry: false          # Server doesn’t fetch registry from others
  instance:
    hostname: localhost

spring:
  application:
    name: eureka-server
